
.Button {
    background-color: white;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Primary {
    background: rgba(0, 0, 255, 0.5);
    border-color: lightblue;
}
.Success {
    background: rgba(50, 205, 50, 0.5);
    border-color: limegreen;
}
.Warning {
    background: rgba(255, 255, 0, 0.5);
    border-color: yellow;
}
.Danger {
    background: rgba(255, 0, 0, 0.5);
    border-color: red;
}