.Post {
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin: 0 auto;

}

.Post .Jokes {
    font-size: 15px;
    color: #000;
}